$color-principal: #0098b1;
$color_secundario: #1c2331;
$color_terceario: #384047;
$color_success: #0DBC79;
$color_danger: #FF6262;
$color_warning:#FFFF71;
$color_fin: #F64F77;
$color_default: #636363;